<!doctype html>
<html lang="en">
  <head>
  {{>headerLinks}}
  <style>
    .main_left{
      height: 30vh !important;
    }

  </style>
  </head>
  <body>
   {{>navbar}}

     <div class="container_fluid">
        <div class="row">
            <div class="col main-img">
               <img src="https://img.freepik.com/free-vector/woman-with-umbrella-girl-raincoat-dog-walking-rain-city-park-vector-illustration-family-activity-bad-weather-downpour-concept_74855-13290.jpg?w=996&t=st=1673988827~exp=1673989427~hmac=80669b10862300bab2364b4aafadc0fed8b1e876f7038def328aa71618698521" class="d-block w-100" alt="...">
            </div>
            <div class="col main_left">
               <p>Hello, Welcome to The WeatherApp</p>
                <h1>I am Harsh Gujrati<span class="weather">JAVA & MERN</span>developer</h1>
                <button class="btn">click here</button>

        </div>
      </div>


    {{>footer}}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
  </body>
</html>